.App {
    text-align: center;
  }

.App-logo {
    height: 8vmin;
    pointer-events: none;
    margin-right: 5vmin;
    }

.App-header {
    background-color: rgb(16,62,46);
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    }

.Select-Menus-Box {
    display: flex;
    flex-direction: row;
    }

.Single-Select-Box {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px 30px;
    }

.Section-Box {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}
    

footer {
    background-color: rgb(16,62,46);
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    bottom: 0;
    width: 100%;
    color: grey;
    padding: 1vmin;
}